/**
 * Blog index page styles
 */

#blog-page {
  padding-bottom: 20vh;

  .dividing-month {
    padding: 10px;
    background-color: $base-grey;
  }

  .multiple-posts { margin-bottom: 60px; }

  .second-col {
    display: inline-block;
    width: 60%;
  }

  > div {
    margin-bottom: 50px;
  }
}

.page-header {
  margin-bottom: 3rem;
}

.item-list {
  .item-box {
    .tag-link a { color: $grey-color };
    margin-bottom: 3rem;
    margin-top: 1rem; }

  .item-header {
    margin-bottom: 0.5rem;
  }
}

.item-description {
  a {
    text-transform: uppercase;
    font-size: smaller; }
}

.post-date {
  text-transform: uppercase;
  color: grey;
  font-size: 1.2rem;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding-top: 2px; }

.date-caret {
  padding: 0 0.6rem; }
