/**
 * Category, tag, and page layout styles
 */

.page-header {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.item-list {
  .item-box {
    margin-bottom: 2.0rem;
  }

  .item-header {
    margin-bottom: 0.4rem;
  }
}

.item-description {
  a {
    text-transform: uppercase;
    font-size: smaller;
  }
}


.post-date {
  text-transform: uppercase;
  color: grey;
  font-size: 1.2rem;
  width: 120px;
  display: inline-block;
  text-align: right;

  .date-caret {
    padding: 0 1.0rem 0 0.5rem;
  }
}
