/**
 * Index page styles
 */

 .index-wrapper {
   text-align: center;

   .index-section {
     min-height: 20vh;
     margin-bottom: 3rem;
     padding-top: 40vh; }

   .section-box {
     h2 { margin-bottom: 0; }
     padding: 4.0rem;
     margin-bottom: 10px;
     background-color: rgba(255,255,255,.8); }

   .less-this-more-that { margin-top: 40px; }

   p { margin-bottom: 5px; }

   .less-this, .more-this {
     font-weight: 800; }

   #about { padding-top: 20vh; }

   #three-recent-posts { padding-bottom: 30vh; }

   #main-index-header {
     padding-bottom: 20vh;
     h1 {
       letter-spacing: 10px;
       font-weight: 100; }
   }

   .index-post-boxes-container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     padding-top: 30px;

     .index-post-box {
       @media screen and (min-width: $on-laptop) {
         width: 45%; }
       width: 100%;
       background-color: rgba(255,255,255,.8);
       margin: 10px 0;
       padding: 10px;
       box-sizing: border-box;
       display: flex;
       flex-direction: column;
       justify-content: space-between;

       .post-box-image {
         img {
           border-radius: 5px;
           width: 100%;
           height: 300px;
           object-fit: cover; }
       }

       .post-box-header h3 {
         padding-top: 20px;
         font-size: 2.0rem; }

       .post-box-description {
         font-size: 1.5rem; }

       .post-box-tags {
         padding-top: 20px;
         .post-date {
           text-align: center;
           max-width: 100%;
           width: 100%; }
       }

     }


   }
 }
