/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: white;
  border-top: 1px solid $base-grey;

  .container {
    margin-top: 20px;
    margin-bottom: 20px; }

  p { margin-bottom: 0;}

  .text {
    font-size: 1.1rem;
    padding-top: 1.5rem;}

  .first { padding-top: 0; }
}
