/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 250px;

  @media screen and (min-width: $on-laptop){
    margin-bottom: 190px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid $base-grey;
  height: 250px;

  @media screen and (min-width: $on-laptop) {
    height: 190px;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px; }

  p { margin-bottom: 0;}

  .text { font-size: 1.1rem; }
  .first { padding-top: 0; }

  .copyright-cont {
    text-align: right;
    padding-top: 10px;
    color: $grey-color; }
}
